:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainDark: #000;
    --mainYellow: #ffa400;
}

body {
    font-family: "Oswald", sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightBlue);
}

.navbar {
    justify-content: flex-start !important;
    background: var(--mainBlue);
}

.nav-link {
    color: var(--mainWhite);
    font-size: 1.3rem;
    text-transform: capitalize;
}

.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}

.card {
    border-color: transparent;
    transition: all 1s linear;
}

.card-footer {
    background: transparent;
    border-top: transparent;
    transition: all 1s linear;
}

.card:hover {
    border: 0.04rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-footer:hover {
    background: rgb(247, 247, 247);
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container:hover .card-img-top {
    transform: scale(1.2);
}

.card-img-top {
    transition: all 1s linear;
}

.cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.2rem 0.4rem;
    background: var(--lightBlue);
    border: none;
    color: var(--mainWhite);
    font-size: 1.4rem;
    border-radius: 0.5rem 0 0 0;
    transform: translate(100%, 100%);
    transition: all 1s linear;
}

.img-container:hover .cart-btn {
    transform: translate(0, 0);
}

.cart-btn:hover{
    color: var(--mainBlue);
    cursor: pointer;
}